#devise-form
  =form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'row', method: :put }) do |f|
    =devise_error_messages!
    .field.col-10.offset-1.col-lg-6.offset-lg-3
      =f.text_field :first_name,
                     placeholder: 'first name',
                     class: 'devise-field'
    .field.col-10.offset-1.col-lg-6.offset-lg-3
      =f.text_field :last_name,
                     placeholder: 'last name',
                     class: 'devise-field'
    .field.col-10.offset-1.col-lg-6.offset-lg-3
      =f.email_field :email,
                      placeholder: 'email',
                      class: 'devise-field'
    .field.col-10.offset-1.col-lg-6.offset-lg-3
      %small
        leave blank if you don't want to change it
      %br/
      =f.password_field :password,
                         placeholder: 'new password',
                         id: 'edit_password',
                         class: 'devise-field'
      -if @minimum_password_length
        %br/
        %small
          = @minimum_password_length
          characters minimum
    .field.col-10.offset-1.col-lg-6.offset-lg-3
      = f.password_field :password_confirmation,
                         placeholder: 'confirm password',
                         id: 'confirm_edit_password',
                         class: 'devise-field'
    .field.col-10.offset-1.col-lg-6.offset-lg-3
      %small
        we need your current password to confirm changes
      %br/
      =f.password_field :current_password,
                        placeholder: 'current password',
                        class: 'devise-field'
    .actions.col-10.offset-1.col-lg-6.offset-lg-3
      =f.submit 'Update', data: { 'disable-with' => 'load...' }, class: 'devise-button'
      -#%h3 Cancel my account
      -#%p
      -#  Unhappy?
      -#  =button_to('Cancel my account',
      -#             registration_path(resource_name),
      -#             data: { confirm: 'Are you sure?' },
      -#             method: :delete,
      -#             class: 'devise-button')
