.comment
  .comment-info
    .commenter-icon
      =image_tag('commenter.png', alt: 'commenter', class: 'w-100')
    .d-inline-block
      =truncate(comment.user.first_name + ' ' + comment.user.last_name, length: 30)
    %small.d-inline-block.comment-date
      =comment.created_at.strftime('%d.%m.%Y %R')
  .comment-body
    =comment.message.gsub("\n", '<br/>').html_safe
%hr/
