=form_with model: [@book, @book.comments.build], class: 'row' do |form|
  .col-12.offset-0.col-md-10.offset-md-1.col-lg-6.offset-lg-3
    =form.text_area :message,
                    rows: 3,
                    placeholder: 'write comment...',
                    class: 'w-100 border'
  .col-12.offset-0.col-md-10.offset-md-1.col-lg-6.offset-lg-3
    =form.submit    'Create comment',
                    data: { 'disable-with' => 'load...' },
                    class: 'devise-button w-100 mb-0'
