%tr
  %td
    %small
      =history.user.first_name + ' ' + history.user.last_name
  %td
    %small
      =history.taken_in.strftime('%D')
  %td
    %small
      -if history.returned_in.present?
        =history.returned_in.strftime('%D')
