-# title author status(in/out, check)
.row
  .col-4.col-sm-3
    =image_tag(book.image.url, alt: 'book-image', class: 'book-image')
  .col-8.col-sm-9.book-description
    %hr
    .author
      %small
        author(s):
        %br
        =book.author.gsub("\n", '<br/>').html_safe
    %hr
    .title
      %small
        title:
        %br
        =book.title
    %hr
