.row.book{ id: manip ? book.id : nil  }
  -if manip
    .manip
      =render 'settings', book: book
  .col-4.col-sm-3.p-1.d-flex.align-items-center
    =link_to(image_tag(book.image.url, alt: 'book-image', class: 'book-image'), book_path(book))
  .col-7.col-sm-8.book-description
    .author
      %small
        =book.author
    %hr/
    .title
      %small
        =link_to(truncate(book.title, length: 70), book_path(book))
    %hr/
    .status
      %small
        status:&nbsp
        %span{ class: book.status ? 'text-success' : 'text-danger' }
          =book.status ? 'In' : 'Out'
        -unless book.status
          .last-reader
            read now:&nbsp
            =book.history.last.user.name
    %hr/
    -if current_user.read?(book)
      %span.text-success
        read
