.row.book{ id: manip ? book.id : nil  }
  -if manip
    .manip
      =render 'settings', book: book
  .col-4.col-sm-3.p-1.d-flex.align-items-center
    =link_to(image_tag(book.image.url, alt: 'book-image', class: 'book-image'), book_path(book))
  .col-7.col-sm-8.book-description
    .author
      %small
        =book.author.gsub("\n", '<br/>').html_safe
    %hr/
    .title
      %small
        =link_to(truncate(book.title, length: 70), book_path(book))
    %hr/
    .status
      %small
        status:&nbsp
        -if book.status
          %span{ style: 'color: green;' }
            In
        -else
          %span{ style: 'color: gray;' }
            Out
          .last-reader
            read now:&nbsp
            =book.history.last.user.first_name
            =book.history.last.user.last_name
    %hr/
    -if current_user.read?(book)
      %span{ style: 'color: green;' }
        read
