=form_with model: @book, class: 'row' do |form|
  =form.file_field  :image,
                    class: 'col-10 offset-1 col-sm-8 offset-sm-2'
  *
  %hr.col-10.offset-1/
  =form.text_field  :author,
                    placeholder: 'author(s)*',
                    class: 'col-10 offset-1 col-sm-8 offset-sm-2 book-form-field'
  %hr.col-10.offset-1/
  =form.text_field  :title,
                    placeholder: 'title*',
                    class: 'col-10 offset-1 col-sm-8 offset-sm-2 book-form-field'
  %hr.col-10.offset-1/
  =form.text_area   :description,
                    placeholder: 'description',
                    rows: 5,
                    class: 'col-10 offset-1 col-sm-8 offset-sm-2'
  %hr.col-10.offset-1.mb-1/
  %small.col-12.mb-3.text-center
    * - require fields
  =form.submit      @book.new_record? ? 'Add book' : 'Edit book',
                    data: { 'disable-with' => 'load...' },
                    class: 'col-10 offset-1 col-sm-8 offset-sm-2 btn btn-sm btn-success '
