.btn-group
  %button.btn.btn-sm.dropdown-toggle{ class: action_name.eql?('show') ? 'btn-dark' : 'btn-link',
                                      'aria-expanded' => 'false',
                                      'aria-haspopup' => 'true',
                                      'data-toggle' => 'dropdown',
                                      :type => 'button' }
    -if action_name.eql?('show')
      =image_tag('book-setting-light.png', alt: 'book-settings', class: 'settings-icon')
    -else
      =image_tag('book-setting-dark.png', alt: 'book-settings', class: 'settings-icon border-0')
  #dropdown-width.dropdown-menu.dropdown-menu-right
    -if action_name.eql?('show')
      =link_to('Edit', '#modal-form', 'data-toggle' => 'modal', class: 'dropdown-item')
    -else
      =link_to('Edit', edit_book_path(book), class: 'dropdown-item')
    .dropdown-divider
    =link_to('Delete',
             book_path(book, redirect: action_name.eql?('show')),
             data: { confirm: 'You are sure?' },
             method: :delete,
             remote: true,
             class: 'dropdown-item')
