.btn-group
  %button.btn.btn-dark.btn-sm.dropdown-toggle{ 'aria-expanded' => 'false',
                                               'aria-haspopup' => 'true',
                                               'data-toggle' => 'dropdown',
                                               :type => 'button' }
    =image_tag('book-setting.png', alt: 'book-settings', class: 'settings-icon')
  #dropdown-width.dropdown-menu.dropdown-menu-right
    =link_to('Edit', '#modal-form', 'data-toggle' => 'modal', class: 'dropdown-item')
    .dropdown-divider
    =link_to('Delete',
             book_path(@book, redirect: true),
             data: { confirm: 'You are sure?' },
             method: :delete,
             class: 'dropdown-item')
