%section#most-popular
  .row
    .col-12
      %h4.most-popular-books-text
        most popular books
      %hr.underline/
  =render 'carousel'
  .row
    .col-12
      %hr.underline/

-if current_user.librarian?
  %section#librarian-control
    .row.mt-4.mb-2
      .col-6
        =link_to('Taken history', '#', class: 'btn btn-success d-block')
      .col-6
        =link_to('Add book', '#modal-form', 'data-toggle' => 'modal', class: 'btn btn-success d-block')

%section#books
  .row
    .col-12
      %h4.all-books-text
        all books
      %hr.underline/
  .row
    .col-10.offset-1.col-lg-6.offset-lg-3
      =render @books
  .row
    .col-10.offset-1.col-lg-6.offset-lg-3.mb-3.mt-3
      =paginate @books, window: 1
  .row
    .col-12
      %hr.underline/

=render 'modal_book_form'
