%section#book-title
  %hr/
  %h3.text-center.ml-1.mr-1
    =@book.title
  %hr.mb-2/

%section#book-author
  %h6.text-center.ml-1.mr-1
    =@book.author
  %hr.mt-1/

%section#book-manipulation
  .row.ml-1.mr-1
    .col-12.offset-0.col-md-10.offset-md-1.col-lg-9.offset-lg-3.d-flex.justify-content-between
      %small#votes
        votes count:
        =@book.votes_count
      %small#taken
        taken count:
        =@book.taken_count
  .row.mt-1.mr-1.ml-1
    .col-5.offset-0.col-md-4.offset-md-1.col-lg-2.offset-lg-3.d-flex.align-items-center
      %input#range.w-100{ type: :range, min: 1, max: 10, disabled: @book.voted?(current_user), value: @book.rating }
    .col-2.p-0.d-flex.align-items-center
      =render 'rating'
    .col-5.col-md-4.col-lg-2.d-flex
      =render 'status'
      =render 'settings', book: @book
  .col-12.text-center
    %small
      for vote use range input and tap to rating
%section#book-description
  %hr/
  .row.ml-1.mr-1
    .col-5.offset-0.col-md-4.offset-md-1.col-lg-2.offset-lg-3
      =image_tag(@book.image.url, alt: 'book-image', class: 'w-100 border')
    .col-7.col-md-6.col-lg-4
      =truncate(@book.description, length: 150)
      -if @book.description.length > 150
        =link_to('show more',  '#modal-description', 'data-toggle' => 'modal', class: 'd-inline-block')
  %hr/

%section#comments-history-tabs
  .row.p-0.text-center
    #comments-tab.tab.active-tab.col-6.offset-0.col-md-5.offset-md-1.col-lg-3.offset-lg-3
      comments
    #history-tab.tab.col-6.col-md-5.col-lg-3
      history

  =render 'tabs'

-# modal
=render 'modal_description'
=render 'modal_book_form'
