%section#book-title
  %hr/
  %h3.text-center.ml-1.mr-1
    =@book.title
  %hr.mb-2/

%section#book-author
  %h6.text-center.ml-1.mr-1
    =@book.author
  %hr.mt-1/

%section#book-manipulation
  .row.ml-1.mr-1
    .col-5.offset-0.col-md-4.offset-md-1.col-lg-2.offset-lg-3.d-flex.align-items-center
      %input#range.w-100{ type: :range,
                          min: 1,
                          max: 10,
                          disabled: @book.voted?(current_user),
                          value: @book.rating }
    .col-2.p-0.d-flex.align-items-center
      =image_tag('rating.png', alt: 'rating', class: 'rating-icon')
      #rating
        -if @book.voted?(current_user)
          =@book.rating
        -else
          =link_to(@book.rating,
                   vote_book_path(rating: @book.rating.round),
                   method: :post,
                   remote: true)

    .col-5.col-md-4.col-lg-2.d-flex
      -if @book.status
        =link_to('Take',
                 take_book_path(@book),
                 method: :put,
                 remote: true,
                 class: 'btn btn-sm btn-success h-100 flex-grow-1 mr-1')
      -else
        =link_to('Return',
                  return_book_path(@book),
                  method: :put,
                  remote: true,
                  class: 'btn btn-sm btn-warning h-100 flex-grow-1 mr-1')
      =render 'settings'
  .col-12.text-center
    %small
      for vote use range input and tap to rating
%section#book-description
  %hr/
  .row.ml-1.mr-1
    .col-5.offset-0.col-md-4.offset-md-1.col-lg-2.offset-lg-3
      =image_tag(@book.image.url, alt: 'book-image', class: 'w-100 border')
    .col-7.col-md-6.col-lg-4
      =truncate(@book.description, length: 150)
      =link_to('show more',  '#modal-description', 'data-toggle' => 'modal', class: 'd-inline-block')
  %hr/

%section#comments-history
  .row.text-center
    #comments-tab.col-6.offset-0.col-md-5.offset-1.col-lg-3.offset-lg-3
      comments
    #history-tab.col-6.col-md-5.col-lg-3
      history

  #book-comments
    =render 'comments/form'
    %hr/
    .row
      .col-12.offset-0.col-md-10.offset-md-1.col-lg-6.offset-lg-3
        =render @book.comments.order_by(created_at: :desc)
    %hr/

  #book-history
    .row
      .col-12.offset-0.col-md-10.offset-md-1.col-lg-6.offset-lg-3
        %table.w-100.text-center
          %tr
            %th
              user
            %th
              taken in
            %th
              returned in
          =render @book.history.order_by(taken_in: :desc)

-# modal
=render 'modal_description'
=render 'modal_book_form'
