/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
*/
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import "bootstrap";
@import "devise";
@import "carousel";
@import "settings";
@import "books";
@import "pagination";
@import "comments";
@import "input_range";
@import "tabs";

.row {
  margin: 0;
}

body {
  position: relative;
  min-height: 100vh;
  font-family: 'Oswald', sans-serif;
}

// navbar icons
.icon {
  width: 28px;
  height: 28px;
  margin: 0 20px;
}

nav, article, aside, footer {
  transition: all 0.3s;
}

nav {
  height: 58px;
  width: 100%;
  background: #1E1F20;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  left: 0
}

article {
  position: relative;
  width: 100%;
  min-height: 100%;
  left: 0;
}

aside {
  position: fixed;
  top: 0;
  right: -30%;
  width: 30%;
  min-height: 100%;
  background: #1E1F20;
  padding-top: 28px;
}

aside hr {
  background-color: white;
  margin: 0 10px;
  opacity: 0.3;
  display: block;
}

footer {
  position: absolute;
  bottom: -105px;
  left: 0;
  width: 100%;
}

.sidebar-link {
  font-size: x-large;
  color: white;
  display: block;
  position: relative;
  text-align: center;
  text-decoration: none;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.sidebar-link:hover {
  background: rgba(255, 255, 255, 0.1);
  color: white;
  text-decoration: none;
}

.switched-bar {
  right: 0 !important;
}

.switched-main {
  left: -30% !important;
}
