.most-popular-books-text, .all-books-text {
  position: relative;
  bottom: -11px;
}

.all-books-text {
  text-align: right;
}

.underline {
  margin-top: 0;
  padding: 0;
  border: 0.5px solid black;
}

.book {
  position: relative;
}

.book img {
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.book-description hr {
  margin: 0;
}

.book-image, .book-description {
  width: 100%;
}

.manip {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
}

.book-form-field {
  border: 0;
  border-bottom: 1px solid black;
}
