.tab {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid black;
  background-color: lightgray;
  cursor: pointer;
}

.active-tab {
  border: 1px solid black;
  border-bottom: rgba(0, 0, 0, 0.3);
  background-color: white;
  pointer-events: none;
}

#book-comments, #book-history {
  margin-top: 30px;
  display: none;
}

.active-tab-content {
  display: block !important;
}
