!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no' }
    %title LibraryExercise
    =csrf_meta_tags
    =csp_meta_tag
    =stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    =javascript_include_tag 'application', 'data-turbolinks-track':  'reload'
  %body
    #content
      %header
        =link_to(image_tag('app-icon.png', alt: 'app-icon', class: 'icon'), root_path)
        %h1.text-white
          book library
        =image_tag('user_menu_icon.png', alt: 'user-menu-icon', class: 'icon toggle')
      -#%p.notice
      -#  =notice
      -#%p.alert
      -#  =alert
      =yield
    #sidebar
      -if user_signed_in?
        =link_to('home', root_path, class: 'sidebar-link')
        =link_to('profile', edit_user_registration_path, class: 'sidebar-link')
        %hr
        =link_to('log out', destroy_user_session_path, class: 'sidebar-link', method: :delete)
      -else
        =link_to('sign in', new_user_session_path, class: 'sidebar-link')
        =link_to('sign up', new_user_registration_path, class: 'sidebar-link')